In [1]:
import pymongo

In [5]:
dbconn = pymongo.MongoClient("mongodb://localhost:27017/")

In [6]:
dbname = 'ineuron'

In [7]:
db=dbconn[dbname]

In [8]:
dbconn.list_database_names()

['admin', 'config', 'local', 'test']

In [10]:
collection_name ='mongo_demo'

In [11]:
collection=db[collection_name]

In [12]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'ineuron'), 'mongo_demo')

In [16]:
my_row = {'Serial No': '9998',
          'GRE Score':'337',
          'TOEFL Score': '118',
          'University Rating':'4',
          'SOP':'4.5',
          'LOR':'4.5',
          'CGPA':'9.65',
          'Research':'1',
          'Chance of Admit': '0.92'

}

In [17]:
col=collection.insert_one(my_row)

In [22]:
col.inserted_id # for getting inserted id if

In [26]:
res =collection.find()

In [27]:
for i in res:
    print(i)

{'_id': ObjectId('659a4b1c67e7a42f8697d570'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('659a4cc367e7a42f8697d571'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}

In [54]:
#List of the Doc
my_rows=[{'Serial No': '9999',
          'GRE Score':'337',
          'TOEFL Score': '118',
          'University Rating':'4',
          'SOP':'4.5',
          'LOR':'4.5',
          'CGPA':'9.66',
          'Research':'1',
          'Chance of Admit': '0.92'

},{'Serial No': '10000',
          'GRE Score':'337',
          'TOEFL Score': '118',
          'University Rating':'4',
          'SOP':'4.5',
          'LOR':'4.5',
          'CGPA':'9.67',
          'Research':'1',
          'Chance of Admit': '0.92'

}]

In [46]:
my_rows

[{'Serial No': '9999',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.66',
  'Research': '1',
  'Chance of Admit': '0.92',
  '_id': ObjectId('659a690067e7a42f8697d576')},
 {'Serial No': '10000',
  'GRE Score': '337',
  'TOEFL Score': '118',
  'University Rating': '4',
  'SOP': '4.5',
  'LOR': '4.5',
  'CGPA': '9.67',
  'Research': '1',
  'Chance of Admit': '0.92',
  '_id': ObjectId('659a690067e7a42f8697d577')}]

In [55]:
res =collection.insert_many(my_rows)

In [56]:
res =collection.find # Fetch Data From DB

In [65]:
result=collection.find({})

In [72]:
result[2] # indexing things here

{'_id': ObjectId('659a687d67e7a42f8697d573'),
 'Serial No': '10000',
 'GRE Score': '337',
 'TOEFL Score': '118',
 'University Rating': '4',
 'SOP': '4.5',
 'LOR': '4.5',
 'CGPA': '9.67',
 'Research': '1',
 'Chance of Admit': '0.92'}

In [78]:
result_total = collection.find({}).limit(3)

In [79]:
for i in result_total:
    print(i)

{'_id': ObjectId('659a4b1c67e7a42f8697d570'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('659a4cc367e7a42f8697d571'), 'Serial No': '9998', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.65', 'Research': '1', 'Chance of Admit': '0.92'}
{'_id': ObjectId('659a687d67e7a42f8697d572'), 'Serial No': '9999', 'GRE Score': '337', 'TOEFL Score': '118', 'University Rating': '4', 'SOP': '4.5', 'LOR': '4.5', 'CGPA': '9.66', 'Research': '1', 'Chance of Admit': '0.92'}